/* #aboutus {
  padding: 15, 0.5;
  color: #f8f8ff;
  margin-left: 9em;
  margin-right: 8em;
  margin-bottom: 5em;
  clear: both;
} */
.navigation{
  font-size: 2rem;
}
.title{
  transform: translate(-50%, -94%);

}
