@charset "UTF-8";
/**{outline:1px solid yellow;}*/
header {
  color: white;
  position: relative;
  display: block;
  margin-bottom: 200px;
  height: 200px;
}

header img {
  width: 100%;
  height: 250%;
}

header img#main {
  width: 100%;
  height: 250%;
  position: absolute;
  z-index: 2;
}

header img#2 {
  width: 100%;
  position: relative;
  z-index: 1;
}



nav {
  height: 20px;
  padding-top: 0.5em;
  clear: both;
}

nav ul {
  /*width: 60;*/
  margin: auto;
  list-style-type: none;
}

nav li {
  float: left;
  text-align: center;
  width: 16.66%;
  margin-bottom: 0.5em;
}

nav a {
  background-color: rgb(180, 207, 176);
  color: black;
  display: block;
  height: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: hsl(185, 68%, 53%);
  display: block;
}

/*text formatting*/

body {
  color: white;
}

header h1 {
  color: White;
  font-size: 3.75em;
  position:absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-outline: 6px 6px black;
  text-shadow: 4px 4px 6px rgb(180, 207, 176);
}


h2{
  padding: 2%;
  color: white;
  text-align: center;
  font-size: 3em;
  text-transform: inherit;
  /*margin-top: 5em;*/
}

h3 {
  padding: 2%;
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: inherit;
}

h4{
  padding: 1%;
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: inherit;
}



p{
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
}
p#aboutus{
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 8em;
  margin-bottom: 5em;
  font-size: 1.25em;
}

footer {
  background-color: rgb(180, 207, 176);
  padding-top: 5px, 0px;
  /*opacity: 0.7;*/
  height: 25px;
}

.clearfix {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

img {
  display: block;
  margin: auto;
  padding: 5px;
  width: 1500px;
  height: 250px;
  float: right;
  clear: both;
}

img#baguette {
  display: block;
  margin: auto;
  padding: 5px;
  width: 1200px;
  height: 250px;
  float: none;
  clear: both;
}

img#apps {
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
}

img#salad {
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
}

img#burger {
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
}

img#pizza {
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
}

img#pasta {
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
}

img#drinks{
  display: block;
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: both;
  align-items: center;
}

iframe {
  width: inherit;
  height: auto;
  float: left;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

ul#meat {
  color: white;
  display: block;
  padding-left: 55%;
  text-decoration: none;
  
}

ul#others {
  color: white;
  display: block;
  padding-left: 55%;
  text-decoration: none;
}

ul#sauces {
  color: white;
  display: block;
  padding-left: 55%;
  text-decoration: none;
}



/*Don't use a lot of margins*/
