form{
padding-left: 10%;
padding-right: 40%;
}
label{
  font-size: 2.5rem;
  padding-top: 4%;
}
input{
width: 100%;
height: 100%;
}
textarea{
  width: 100%;
  height: 100%;
}
#submit{
  width:100%;
  height: 50%;
  margin-bottom: 1rem;
}
.contact {
  padding: 5, 0.5;
  color: #f8f8ff;
  font-size: 1.25rem;
  text-align: center;
}

.map {
  display: block;
  margin: 0em, 2em;
  margin-bottom: 1em;
  width: 75%;
  height: 75%;
  float:inherit;
  clear: both;
  text-align: right;
}
