.drinks {
  padding: 15, 0.5;
  color: #f8f8ff;
  margin-left: 4sem;
  margin-right: 4em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
  text-align: center;
}
.NA {
  float: left;
  width: 25%;
}

.NA::after {
  content: "";
  display: table;
  clear: both;
}
