

#baguette {
  display: block;
  margin: auto;
  padding: 5px;
  width: 1200px;
  height: 250px;
  float: none;
  clear: both;
}

#sides {
  padding: 15, 0.5;
  color: #f8f8ff;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
  text-align: center;
}

.food {
  float: left;
  width: 50%;
}

.food::after {
  content: "";
  display: table;
  clear: both;
}
.pizza {
  float: left;
  width: 33.33%;
}

.pizza::after {
  content: "";
  display: table;
  clear: both;
}

.pasta {
  float: left;
  width: 33.33%;
  margin-bottom: 2em;
}

.apps {
  padding: 5px;
  float: left;
  clear: both;
}
