@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 5vmax;
    margin-left: 27%;
    padding-top: 25%;
    padding-left: 22rem;
    transform: translate(-50%, -96%);
  }

  .title {
    transform: translate(-50%, -90%);
  }

  .about {
    text-align: center;
    font-size: 3vmax;
  }

  #footer {
    font-size: 2.5rem;
  }

  /* FAQ's */
  section h2 {
    font-size: 6vmax;
    padding: 1rem;
    text-align: center;
  }

  section p {
    font-size: 2.41vmax;
    padding: 1rem;
    text-align: center;
  }

  /* menu */
  .GF {
    text-align: center;
    font-size: 2.05vmax;
  }
}

@media only screen and (max-width: 960px) {
  header img {
    width: 100%;
    height: 100%;
    display: block;
  }
  img {
    display:inline-block;
    width: 22%;
    height: 22%;
  }
  ul li a {
    overflow: hidden;

  }
  header h1 {
    font-size: 5vmax;
    margin-left: 50%;
    padding-left: 22rem;
    transform: translate(-50%, -188%);
  }

  header {
    margin-bottom: -15px;
  }
  .title {
    transform: translate(-50%, -90%);
  }

  .about {
    text-align: center;
    font-size: 3vmax;
  }

  #footer {
    font-size: 2.5rem;
  }

  /* FAQ's */
  section h2 {
    font-size: 6vmax;
    padding: 1rem;
    text-align: center;
  }

  section p {
    font-size: 2.41vmax;
    padding: 1rem;
    text-align: center;
  }

  /* menu */
  .GF {
    text-align: center;
    font-size: 2.05vmax;
  }
  .item1{
    width: 25%;
    height: 25%;
    display:inline-block;
    clear: both;
  }
}
