@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }

  article header h1 {
    font-size: 5.5vmax;
    transform: translate(0%, -200%);
    text-outline: 1rem 1rem #262b2f;
    text-shadow: 4px 4px 6px #86608e;
  }

  article header img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: -1.1rem;
    margin-top: -1.1rem;
    margin-right: -.5rem;
  }

  nav {
    width: 100%;
    margin-top: -28%;
  }

  nav ul li {
    font-size: 5vmax;
  }

  section h2 {
    font-size: 6vmax;
  }

  section p {
    font-size: 2vmax;
  }

  h2 {
    font-size: 8vmax;
    padding-bottom: 0rem;
  }

  h3 {
    font-size: 5vmax;
  }

  .GF {
    font-size: 1.9vmax;
  }

  #footer {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper {
    width: 100%;
  }
  img {

    width: 40%;
    height: auto;
  }
  article header h1 {
    font-size: 7vmax;
  }

  nav {
    margin-top: -26%;
    background-color: #86608e;
  }

  nav ul li {
    display: inline-block;
    text-align: -webkit-match-parent;
  }

  nav ul li a {
    font-size: 3.5vmax;
    padding-left: .459rem;
    padding-right: .44rem;
    margin-left: .25rem;
    background-color: #86608e;
  }
}

@media only screen and (min-width: 1200px) {

  article header h1 {
    font-size: 7vmax;
    transform: translate(0%,  -200%);
  }

  nav {
    margin-top:-20%;
  }


  img {
    display: none;
  }

  .item {
    margin-left: 10%;
  }

  img.item1 {
    display: inline;
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 2px;
    padding: 1rem;
    width: 20%;
    height: 20%;
  }

  img.item2 {
    display: block;
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 2px;
    padding: 1rem;
    width: 30%;
    height: 30%;
  }
  .GF {
    font-size:2.5vmax;
  }
}
