* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #f8f8ff;
  background-attachment: fixed;
}

nav {
  height: 25%;
  width: 100%;
  clear: both;
}

nav ul {
  margin: auto;
  list-style-type: none;
}

nav li {
  float: left;
  text-align: center;
  padding-left: .85rem;
  padding-right: .85rem;
  margin-bottom: 1rem;
  background-color: #86608e;
}

nav a {
  background-color: #86608e;
  color:  #f8f8ff;;
  display: block;
  text-decoration: none;
  font-size: 3.67rem;
  text-align: center;
}

nav a:hover {
  background-color:  #f8f8ff;
  color: #86608e;
  display: block;
}

header {
  color: #f8f8ff;
  position: relative;
  display: block;
  margin-bottom: 200px;
  height: 50%;
  width: 100%;
}

header h1 {
  color: #f8f8ff;
  font-size: 3rem;
  text-align: center;
  position:absolute;
  margin-left: 10%;
  padding-top: 25%;
  padding-left: 25%;
  top: 30%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-outline: 1rem 1rem #262b2f;
  text-shadow: 4px 4px 6px #86608e;
}

header img {
  width: 100%;
  height: 250%;
}

h1, h2, h3, div, p, header, main, nav, ul, li, figure, figcaption, section {
  box-sizing: border-box;
  position: relative;
}

h2 {
  padding: 2%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  color: #f8f8ff;
  text-align: center;
  font-size: 6rem;
  text-transform: inherit;
  clear: both;
}

h3 {
  padding: 2%;
  color: #f8f8ff;
  text-align:center;
  font-size: 4rem;
  text-transform: inherit;
  clear: both;
}

p {
  padding: 15, 0.5;
  color: #f8f8ff;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  font-size: 1.75rem;
  text-align: center;
  clear: both;
}

footer {
  background-color: #86608e;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 2px;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: none;
}

iframe {
  width: inherit;
  height: auto;
  float: left;
  clear: both;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
  text-decoration: none;
}
figure {
  width: 300px;
  margin: 20px auto 0px;
  padding: 1em;
  display: block;
  float: right;
  clear: both;
}

figcaption {
  display: table-caption;
  caption-side: top;
  float: right;
  clear: both;
  text-align: center;
}


#footer {
  padding: 15, 0.5;
  color:  #f8f8ff;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  clear: both;
}

#footer2 {
  color:  #f8f8ff;
  text-decoration: none;
  clear: both;
}


.clearfix {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}



.images {
  padding: 5px;
  float: left;
}

.images2 {
  padding: 5px;
  float: left;
  clear: both;
}
