* {
  margin: 0;
  padding: 0;
}

* ::after, ::before {
  box-sizing: border-box;
}

html {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #f8f8ff;
  background-attachment: fixed;
}

ul li a {
  margin: auto;
  list-style-type: none;
  padding: 0;
  display: block;
  background-color: #86608e;
  color: #f8f8ff;
  text-decoration: none;
  font-size: 5vmax;
  text-align: center;
  width: 100%;
  clear: both;
}

ul li a:hover {
  background-color: #f8f8ff;
  color: #86608e;
  display: block;
}

header {
  color: #f8f8ff;
  position: relative;
  display: block;
  margin-bottom: 200px;
  height: 50%;
  width: 100%;
}

header h1 {
  font-family: 'Bree Serif', serif;
  color: #f8f8ff;
  font-size: 7vmax;
  text-align: center;
  position: absolute;
  margin-left: 10%;
  padding-top: 25%;
  padding-left: 10rem;
  padding-bottom: 1rem;
  transform: translate(-50%, -96%);
  text-transform: uppercase;
  text-outline: 1rem 1rem #262b2f;
  text-shadow: 4px 4px 6px #86608e;
}

header img {
  width: 100%;
  height: 250%;
  display: none;
}

h1, h2, h3, div, p, header, main, nav, ul, li, figure, figcaption, section {
  box-sizing: border-box;
  position: relative;
}

h2 {
  font-family: 'Bree Serif', serif;

  padding: 0;
  padding-bottom: 3rem;
  padding-top: 2rem;
  color: #f8f8ff;
  text-align: center;
  font-size: 8.5vmax;
  text-transform: inherit;
  clear: both;
}

h3 {
  font-family: 'Bree Serif', serif;
  padding: 2%;
  color: #f8f8ff;
  text-align: center;
  font-size: 6vmax;
  text-transform: inherit;
  clear: both;
}

p {
  /* padding: 15, 0.5; */
  color: #f8f8ff;
  padding: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.15rem;
  text-align: left;
  clear: both;
}

footer {
  background-color: #86608e;
}

img {
  display: block;
  margin: auto;
  padding-top: 2rem;
  margin-bottom: 2px;
  padding: 1rem;
  width: 75%;
  height: 75%;

}

iframe {
  width: inherit;
  height: auto;
  float: left;
  clear: both;
}

ul {
  list-style-position: outside;
  list-style-image: none;
  text-decoration: none;
}

figure {
  width: 300px;
  margin: 20px auto 0px;
  padding: 1em;
  display: block;
  float: right;
  clear: both;
}

figcaption {
  display: table-caption;
  caption-side: top;
  float: right;
  clear: both;
  text-align: center;
}

#footer {
  padding: 15, 0.5;
  color: #f8f8ff;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1rem;
  clear: both;
  text-align: center;
}

.nav {
  background-color: #86608e;
}

#footer2 {
  text-align: center;
  color: #f8f8ff;
  text-decoration: none;
  clear: both;
}

.clearfix {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.GF{
  text-align: center;
  font-size: 2.79vmax;
}
.item1{
  display:none;
}
